a {
  text-decoration: none !important;
}

.header {
  text-align: center;
}

.loading {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.articles  {
  margin-top: 100px !important;
}

.article img {
  width: 100%;
}

.article-view .datetime {
  display:block;
  font-size: 0.75em;
  padding: 0.5em 0;
}

.article-view figure {
  width: 100%;
}

.article-view figure img {
  display: block;
  width: 100%;
  max-width: 768px;
}

.article-view main {
  padding-top: 1em;
}

.comments-view {
  margin: 1em 0;
}

.comments-view .comment {
  background: #F8F9FA;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
}