a {
  text-decoration: none !important;
}

.header {
  text-align: center;
}

.loading {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.articles  {
  margin-top: 100px !important;
}

.article img {
  width: 100%;
}

.article-view .datetime {
  display:block;
  font-size: 0.75em;
  padding: 0.5em 0;
}

.article-view img {
  width: 100%;
}

.article-view main {
  padding-top: 1em;
}